---
layout: home-page
title: Playlist
spotifyplaylist1: spotify.com/playlist/3vqNpTi3HphyKnqls9hAhB
spotifyplaylist2: spotify.com/playlist/3vqNpTi3HphyKnqls9hAhB
permalink: /playlist/
---
<div class="small-wrapper">
        <div class="about-container">
          
          
            
              <li>{% include spotifyplaylist.html id=page.spotifyplaylist1 %}</li>
              <li>{% include spotifyplaylist.html id=page.spotifyplaylist2 %}</li>
            
          
        </div> <!-- End About Container -->
      </div> <!-- End Small Wrapper -->





