---
layout: home-page
title: Playlist
spotifyplaylist1: spotify.com/playlist/3vqNpTi3HphyKnqls9hAhB
spotifyplaylist2: spotify.com/playlist/0Wp9CkmkLquWUzSWRoo8h1
permalink: /playlist/
---

<style>
        * {
          box-sizing: border-box;
        }
        
        body {
          font-family: Arial, Helvetica, sans-serif;
        }
        
        /* Float four columns side by side */
        .column {
          float: left;
          width: 100%;
          padding: 0 10px;
        }
        
        /* Remove extra left and right margins, due to padding */
        .row {margin: 0 -5px;}
        
        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
        
        /* Responsive columns */
        @media screen and (max-width: 600px) {
          .column {
            width: 100%;
            display: block;
            margin-bottom: 20px;
          }
        }
        
        /* Style the counter cards */
        .card {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          padding: 16px;
          text-align: center;
          background-color: #f1f1f1;
        }
        </style>



  
  
  
  
</div>

<div class="small-wrapper">
    
        <div class="about-container">
          
            
                <div class="column">
                        <div class="column">
                          <div class="card">
                              {% include spotifyplaylist.html id=page.spotifyplaylist1 %}
                          </div>
                        </div>
                      
                        <div class="column">
                          <div class="card">
                              {% include spotifyplaylist.html id=page.spotifyplaylist2 %}
                          </div>
                        </div>
                        
            
          
        </div> <!-- End About Container -->
      </div> <!-- End Small Wrapper -->





