---
layout: home-page
title: Playlist
spotifyplaylist1: spotify.com/playlist/3vqNpTi3HphyKnqls9hAhB
spotifyplaylist2: spotify.com/playlist/0Wp9CkmkLquWUzSWRoo8h1
permalink: /playlist/
---
<div class="small-wrapper">
    
        <div class="about-container">
          
            
              {% include spotifyplaylist.html id=page.spotifyplaylist1 %}
              {% include spotifyplaylist.html id=page.spotifyplaylist2 %}
            
          
        </div> <!-- End About Container -->
      </div> <!-- End Small Wrapper -->





