@import "variables";
@import "syntax";
@import "tools/normalize";





/* = = = = = = = = = = Main Styles = = = = = = = = = = */

*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

html {
  line-height: 1.5;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: $dark-gray;
  margin: 0;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  color: $dark-purple;
  font-weight: 400;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: $dark-pink;
}

blockquote {
  border-left: 3px solid $dark-purple;
  padding-left: 18px;
  margin-left: 21px;
  font-style: italic;
  color: $dark-purple;
}

pre {
  padding: 16px 32px;
  overflow-x: auto;

  code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: transform .4s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.flex-container.active {
  transform: translate3d(300px, 0, 0);
  &::after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
  }
}

.content {
  flex-grow: 1;
}

.wrapper {
  width: 960px;
  max-width: 90%;
  margin: 0 auto;
  position: relative;
}

::-moz-selection {
  background: rgba(49, 30, 62, 0.7);
  color: #ffffff;
}

::selection {
  background: rgba(49, 30, 62, 0.7);
  color: #ffffff;
}

.clearfix::before, .clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.clearfix::before {
  clear: both;
}

/* = = = = = = = = = = Header Styles = = = = = = = = = = */
@import "parts/header";

/* = = = = = = = = = = Search Styles = = = = = = = = = = */
@import "parts/search";

/* = = = = = = = = = = Post-Card Styles = = = = = = = = = = */
@import "parts/post-card";

/* = = = = = = = = = = Pagination Styles = = = = = = = = = = */
@import "parts/pagination";


/* = = = = = = = = = = Footer Styles = = = = = = = = = = */
@import "parts/footer";

/* = = = = = = = = = = Post-Page Styles = = = = = = = = = = */
@import "parts/post-page";

/* = = = = = = = = = = Author Box Styles = = = = = = = = = = */
@import "parts/author-box";

/* = = = = = = = = = = About Page Styles = = = = = = = = = = */
@import "parts/about";

/* = = = = = = = = = = Tags Styles = = = = = = = = = = */
@import "parts/tags";

/* = = = = = = = = = = Animate Styles = = = = = = = = = = */
@import "parts/animate";

/* = = = = = = = = = = Media = = = = = = = = = = */
@import "media"


$mobile: "(max-width: 1099px)";
$desktop: "(min-width: 1100px)";


@media #{$mobile} {
  	.book_info {
	  	display: block;
	  	margin-bottom: 30px;
  	}
  	.book_cover {
		width: 50%;
		margin: 0 auto;
	}
	.book_meta {
		width:70%;
		margin-top:30px;
	}
}

@media #{$desktop} {	
	.book_info {
		margin-bottom: 30px;
		word-wrap: normal;
	}
	.book_cover {
		width: 30%;
		display: inline-block;
	}
	.book_meta {
		width:65%;
		margin-left: 4%;
		display: inline-block;
		vertical-align: top;
	}
	.post-teaser .book_cover {
		width: 25%;
		display: inline-block;
	}
	.post-teaser .book_meta {
		width:70%;
		margin-left: 4%;
		display: inline-block;
		vertical-align: top;
	}
}

a.button:hover {
	color: #fff;
}

.stars-container {
  position: relative;
  display: inline-block;
  color: transparent;
  overflow:hidden;
}

.stars-container:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: lightgray;
}

.stars-container:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: #F76B48;
  overflow: hidden;
}

.stars-0:after { width: 0%; }
.stars-10:after { width: 10%; }
.stars-20:after { width: 20%; }
.stars-30:after { width: 30%; }
.stars-40:after { width: 40%; }
.stars-50:after { width: 50%; }
.stars-60:after { width: 60%; }
.stars-70:after { width: 70%; }
.stars-80:after { width: 80%; }
.stars-90:after { width: 90%; }
.stars-100:after { width: 100; }


last-update {
  font-size: 16px;
  color: #777;
  margin: 2rem 0;
}

.number {
  font-size: 16px;
  color: #777;
}

.year-container {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2rem;
  align-items: flex-start;
  
  @media (max-width: 850px) {
    display: block;
  }
  
  .books {
    ul.reading-list {
      line-height: 1.7;
    }
    .author {
      font-size: 16px;
      color: #555;
    }
    .star {
      margin-left: 3px;
      color: #F76B48;
      font-size: 16px;
    }
    a {
      color: #383838;
    }
  }
  
}